<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CHAR_4_1/0/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,55}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,55}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>CHAR_4_1/0/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{73,55}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,55}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>CHAR_4_1/0/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{73,55}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,55}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>CHAR_4_1/0/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{73,55}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,55}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>CHAR_4_1/0/image0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{73,55}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,55}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>CHAR_4_1/0/image0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{73,55}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,55}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>CHAR_4_1/0/image0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{73,55}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,55}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>CHAR_4_1/0/image0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{73,55}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,55}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>CHAR_4_1/0/image0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{73,55}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,55}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>CHAR_4_1/0/image0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{73,55}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,55}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>CHAR_4_1/0/image0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{73,55}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,55}}</string>
                <key>sourceSize</key>
                <string>{77,59}</string>
            </dict>
            <key>CHAR_4_1/0/image0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{46,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,63}}</string>
                <key>sourceSize</key>
                <string>{46,63}</string>
            </dict>
            <key>CHAR_4_1/0/image0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,67},{46,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,63}}</string>
                <key>sourceSize</key>
                <string>{46,63}</string>
            </dict>
            <key>CHAR_4_1/0/image0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,132},{46,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,63}}</string>
                <key>sourceSize</key>
                <string>{46,63}</string>
            </dict>
            <key>CHAR_4_1/0/image0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,457},{46,61}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{46,61}}</string>
                <key>sourceSize</key>
                <string>{46,63}</string>
            </dict>
            <key>CHAR_4_1/0/image0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,197},{46,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,63}}</string>
                <key>sourceSize</key>
                <string>{46,63}</string>
            </dict>
            <key>CHAR_4_1/0/image0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,262},{46,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,63}}</string>
                <key>sourceSize</key>
                <string>{46,63}</string>
            </dict>
            <key>CHAR_4_1/0/image0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,520},{46,61}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{46,61}}</string>
                <key>sourceSize</key>
                <string>{46,63}</string>
            </dict>
            <key>CHAR_4_1/0/image0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,327},{46,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,63}}</string>
                <key>sourceSize</key>
                <string>{46,63}</string>
            </dict>
            <key>CHAR_4_1/0/image0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,629},{46,61}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{46,61}}</string>
                <key>sourceSize</key>
                <string>{46,63}</string>
            </dict>
            <key>CHAR_4_1/0/image0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,583},{46,61}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{46,61}}</string>
                <key>sourceSize</key>
                <string>{46,63}</string>
            </dict>
            <key>CHAR_4_1/0/image0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,392},{46,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,63}}</string>
                <key>sourceSize</key>
                <string>{46,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CHAR_4_1.pvr.ccz</string>
            <key>size</key>
            <string>{126,677}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cad69a8b75be835b15c5a19f1a4ecfa:c7adf1c4a1d316b9a529337011fedf73:f1496ee2ab4c5a7949d547afc938728a$</string>
            <key>textureFileName</key>
            <string>CHAR_4_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
