<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ITEM_1_2/0/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{59,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{59,49}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>ITEM_1_2/0/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{59,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{59,51}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>ITEM_1_2/0/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,185},{59,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,51}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>ITEM_1_2/0/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,124},{59,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,51}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>ITEM_1_2/0/image0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,63},{59,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{59,49}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>ITEM_1_2/0/image0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,185},{59,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,51}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>ITEM_1_2/0/image0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,63},{59,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,51}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>ITEM_1_2/0/image0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,124},{59,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,51}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>ITEM_1_2/0/image0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,63},{59,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{59,49}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>ITEM_1_2/0/image0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,124},{59,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,51}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>ITEM_1_2/0/image0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,185},{59,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,51}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>ITEM_1_2/0/image0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,63},{59,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{59,51}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>ITEM_1_2/0/image0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,114},{59,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{59,49}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>ITEM_1_2/1/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,165},{59,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,47},{59,49}}</string>
                <key>sourceSize</key>
                <string>{59,139}</string>
            </dict>
            <key>ITEM_1_2/1/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{59,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,41},{59,55}}</string>
                <key>sourceSize</key>
                <string>{59,139}</string>
            </dict>
            <key>ITEM_1_2/1/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{59,59}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,139}</string>
            </dict>
            <key>ITEM_1_2/1/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{59,61}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,34},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,139}</string>
            </dict>
            <key>ITEM_1_2/1/image0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{59,65}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{59,65}}</string>
                <key>sourceSize</key>
                <string>{59,139}</string>
            </dict>
            <key>ITEM_1_2/1/image0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,69}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{59,69}}</string>
                <key>sourceSize</key>
                <string>{59,139}</string>
            </dict>
            <key>ITEM_1_2/1/image0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{27,35}}</string>
                <key>offset</key>
                <string>{16,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,20},{27,35}}</string>
                <key>sourceSize</key>
                <string>{59,139}</string>
            </dict>
            <key>ITEM_1_2/1/image0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,216},{55,35}}</string>
                <key>offset</key>
                <string>{1,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,17},{55,35}}</string>
                <key>sourceSize</key>
                <string>{59,139}</string>
            </dict>
            <key>ITEM_1_2/1/image0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,246},{27,33}}</string>
                <key>offset</key>
                <string>{-14,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{27,33}}</string>
                <key>sourceSize</key>
                <string>{59,139}</string>
            </dict>
            <key>ITEM_1_2/1/image0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,216},{55,35}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{55,35}}</string>
                <key>sourceSize</key>
                <string>{59,139}</string>
            </dict>
            <key>ITEM_1_2/1/image0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,246},{27,35}}</string>
                <key>offset</key>
                <string>{16,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,7},{27,35}}</string>
                <key>sourceSize</key>
                <string>{59,139}</string>
            </dict>
            <key>ITEM_1_2/1/image0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,246},{27,35}}</string>
                <key>offset</key>
                <string>{15,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,3},{27,35}}</string>
                <key>sourceSize</key>
                <string>{59,139}</string>
            </dict>
            <key>ITEM_1_2/1/image0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,63},{1,1}}</string>
                <key>offset</key>
                <string>{-29,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{59,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ITEM_1_2.pvr.ccz</string>
            <key>size</key>
            <string>{254,275}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb666c096e47908b62d8bae7a3f15c79:b36e9308d274edfdcc2ed8827a219532:49bec9cefeecfbd14ab887ab7b7d25b1$</string>
            <key>textureFileName</key>
            <string>ITEM_1_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
