<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ITEM_16_1/0/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>ITEM_16_1/0/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>ITEM_16_1/0/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>ITEM_16_1/0/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{47,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{47,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>ITEM_16_1/0/image0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{47,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{47,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>ITEM_16_1/0/image0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{47,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{47,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>ITEM_16_1/0/image0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{31,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{31,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>ITEM_16_1/0/image0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{31,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{31,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>ITEM_16_1/0/image0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,65},{5,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{5,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>ITEM_16_1/0/image0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,65},{5,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{5,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>ITEM_16_1/0/image0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,65},{5,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{5,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>ITEM_16_1/0/image0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{33,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{33,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>ITEM_16_1/0/image0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{33,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{33,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>ITEM_16_1/0/image0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{33,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{33,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>ITEM_16_1/0/image0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{47,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{47,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>ITEM_16_1/0/image0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{47,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{47,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
            <key>ITEM_16_1/0/image0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ITEM_16_1.pvr.ccz</string>
            <key>size</key>
            <string>{64,317}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0c5ef85c3f65186e45bd3e33973406e:124170fc25c7daf77b653c45572efe40:dd54456ce3ef1cc3cdd2e93cf44044c2$</string>
            <key>textureFileName</key>
            <string>ITEM_16_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
