<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ITEM_18_1/0/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,78},{42,54}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,51},{42,54}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ITEM_18_1/0/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{96,74}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,40},{96,74}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ITEM_18_1/0/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{116,110}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,29},{116,110}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ITEM_18_1/0/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{138,130}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{138,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ITEM_18_1/0/image0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,132}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,17},{142,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ITEM_18_1/0/image0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{142,130}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{142,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ITEM_18_1/0/image0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{132,122}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,20},{132,122}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ITEM_18_1/0/image0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{124,112}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,27},{124,112}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ITEM_18_1.pvr.ccz</string>
            <key>size</key>
            <string>{878,136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffe37ad85817a73dd476bc412601bf9f:2305a80f4dc56223e22317214e2f8f14:8d57e442b5879d67aa3ddb41ef29a0c2$</string>
            <key>textureFileName</key>
            <string>ITEM_18_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
