<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ITEM_3_1/0/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>ITEM_3_1/0/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{59,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>ITEM_3_1/0/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{59,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>ITEM_3_1/0/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{59,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>ITEM_3_1/0/image0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{59,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>ITEM_3_1/0/image0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{59,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>ITEM_3_1/0/image0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{59,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>ITEM_3_1/0/image0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,56},{59,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>ITEM_3_1/0/image0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,56},{59,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>ITEM_3_1/0/image0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,56},{59,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>ITEM_3_1/0/image0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,56},{59,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>ITEM_3_1/0/image0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,56},{59,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ITEM_3_1.pvr.ccz</string>
            <key>size</key>
            <string>{370,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35324e5067e92b9fec8eb72b907ecd78:d57b9611b63035790f50759b0dff2ead:ffa9225779e53528758c2e27e41bc72c$</string>
            <key>textureFileName</key>
            <string>ITEM_3_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
