<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ITEM_1_3/0/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{57,49}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{57,49}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>ITEM_1_3/0/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,116},{59,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{59,49}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>ITEM_1_3/0/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,63},{59,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,51}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>ITEM_1_3/0/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,122},{59,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{59,49}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>ITEM_1_3/0/image0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,124},{57,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,49}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>ITEM_1_3/0/image0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{59,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,51}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>ITEM_1_3/0/image0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,63},{59,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,51}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>ITEM_1_3/0/image0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{59,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,51}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>ITEM_1_3/0/image0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,124},{57,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,49}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>ITEM_1_3/0/image0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,122},{59,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{59,49}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>ITEM_1_3/0/image0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,63},{59,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{59,51}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>ITEM_1_3/0/image0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,167},{59,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{59,49}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>ITEM_1_3/0/image0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,173},{57,49}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{57,49}}</string>
                <key>sourceSize</key>
                <string>{59,53}</string>
            </dict>
            <key>ITEM_1_3/1/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,175},{57,49}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{57,49}}</string>
                <key>sourceSize</key>
                <string>{59,139}</string>
            </dict>
            <key>ITEM_1_3/1/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{59,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{59,53}}</string>
                <key>sourceSize</key>
                <string>{59,139}</string>
            </dict>
            <key>ITEM_1_3/1/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,61},{59,59}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,139}</string>
            </dict>
            <key>ITEM_1_3/1/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{59,61}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,33},{59,61}}</string>
                <key>sourceSize</key>
                <string>{59,139}</string>
            </dict>
            <key>ITEM_1_3/1/image0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{57,63}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,31},{57,63}}</string>
                <key>sourceSize</key>
                <string>{59,139}</string>
            </dict>
            <key>ITEM_1_3/1/image0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,69}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{59,69}}</string>
                <key>sourceSize</key>
                <string>{59,139}</string>
            </dict>
            <key>ITEM_1_3/1/image0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,224},{27,35}}</string>
                <key>offset</key>
                <string>{16,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,21},{27,35}}</string>
                <key>sourceSize</key>
                <string>{59,139}</string>
            </dict>
            <key>ITEM_1_3/1/image0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,218},{55,35}}</string>
                <key>offset</key>
                <string>{1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{55,35}}</string>
                <key>sourceSize</key>
                <string>{59,139}</string>
            </dict>
            <key>ITEM_1_3/1/image0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,226},{27,33}}</string>
                <key>offset</key>
                <string>{-14,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{27,33}}</string>
                <key>sourceSize</key>
                <string>{59,139}</string>
            </dict>
            <key>ITEM_1_3/1/image0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{55,35}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{55,35}}</string>
                <key>sourceSize</key>
                <string>{59,139}</string>
            </dict>
            <key>ITEM_1_3/1/image0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,224},{27,35}}</string>
                <key>offset</key>
                <string>{16,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,7},{27,35}}</string>
                <key>sourceSize</key>
                <string>{59,139}</string>
            </dict>
            <key>ITEM_1_3/1/image0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,226},{27,35}}</string>
                <key>offset</key>
                <string>{15,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,3},{27,35}}</string>
                <key>sourceSize</key>
                <string>{59,139}</string>
            </dict>
            <key>ITEM_1_3/1/image0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,61},{1,1}}</string>
                <key>offset</key>
                <string>{-29,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{59,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ITEM_1_3.pvr.ccz</string>
            <key>size</key>
            <string>{256,265}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:661c865076555833d601e5498771701a:af1617c74fe6dc5ff09202920b0f98c8:7a4f592c52ad578b85ad8958dc0b2d39$</string>
            <key>textureFileName</key>
            <string>ITEM_1_3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
