<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ITEM_14_1/0/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>ITEM_14_1/0/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,62}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>ITEM_14_1/0/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,62}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>ITEM_14_1/0/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,62}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>ITEM_14_1/0/image0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>ITEM_14_1/0/image0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>ITEM_14_1/0/image0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,62}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>ITEM_14_1/0/image0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{59,62}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ITEM_14_1.pvr.ccz</string>
            <key>size</key>
            <string>{64,66}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f43ee014321bc9d4443ff132e8fc1b1:616ec8af5eba075c2ca06ffc99a70310:0b6db6f528804a7c9efd4a2dcb07d063$</string>
            <key>textureFileName</key>
            <string>ITEM_14_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
