<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EFFECT_1_1/0/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>EFFECT_1_1/0/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>EFFECT_1_1/0/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>EFFECT_1_1/0/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,63},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>EFFECT_1_1/0/image0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>EFFECT_1_1/0/image0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,124},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>EFFECT_1_1/0/image0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,893},{59,29}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,29}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>EFFECT_1_1/0/image0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{59,11}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,11}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>EFFECT_1_1/1/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>EFFECT_1_1/1/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,185},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>EFFECT_1_1/1/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>EFFECT_1_1/1/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,246},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>EFFECT_1_1/1/image0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>EFFECT_1_1/1/image0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,307},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>EFFECT_1_1/1/image0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>EFFECT_1_1/1/image0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,368},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>EFFECT_1_1/2/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>EFFECT_1_1/2/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,429},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>EFFECT_1_1/2/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>EFFECT_1_1/2/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,490},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>EFFECT_1_1/2/image0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,551},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>EFFECT_1_1/2/image0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,551},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>EFFECT_1_1/2/image0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>EFFECT_1_1/2/image0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,856},{59,35}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{59,35}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>EFFECT_1_1/3/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,612},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>EFFECT_1_1/3/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,673},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>EFFECT_1_1/3/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,673},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>EFFECT_1_1/3/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>EFFECT_1_1/3/image0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,734},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>EFFECT_1_1/3/image0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,795},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>EFFECT_1_1/3/image0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,795},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>EFFECT_1_1/3/image0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{57,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>EFFECT_1_1.pvr.ccz</string>
            <key>size</key>
            <string>{124,937}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86348f5994e019f738b397c5447eba4c:d6d78d93c7a56e6b9f93d5224a981e15:b8541c2a813fa042a8ce190dc1d85fa4$</string>
            <key>textureFileName</key>
            <string>EFFECT_1_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
