<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ITEM_6_1/0/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{48,60}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>ITEM_6_1/0/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>ITEM_6_1/0/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>ITEM_6_1/0/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{48,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{48,56}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>ITEM_6_1/0/image0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{48,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,11},{48,54}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>ITEM_6_1/0/image0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{48,56}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{48,56}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>ITEM_6_1/0/image0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{48,58}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
            <key>ITEM_6_1/0/image0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{48,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{48,60}}</string>
                <key>sourceSize</key>
                <string>{60,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ITEM_6_1.pvr.ccz</string>
            <key>size</key>
            <string>{52,479}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e01f3a2013b546eb26bb5360d268d2ae:ba03851aaeb766928a03be76b5ca7bf0:32a2e8dc620da6d3e81c8ca2541990a5$</string>
            <key>textureFileName</key>
            <string>ITEM_6_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
