<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ITEM_15_1/0/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,298},{43,59}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{43,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>ITEM_15_1/1/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,176},{41,59}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{41,59}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>ITEM_15_1/1/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,237},{41,59}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{41,59}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>ITEM_15_1/1/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,481},{41,59}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{41,59}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>ITEM_15_1/1/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,359},{47,59}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{47,59}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>ITEM_15_1/1/image0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,420},{51,59}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{51,59}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>ITEM_15_1/1/image0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,543},{55,59}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{55,59}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>ITEM_15_1/1/image0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,543},{59,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{59,61}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>ITEM_15_1/1/image0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{65,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{65,63}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>ITEM_15_1/1/image0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{69,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{69,69}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>ITEM_15_1/1/image0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{71,71}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{71,71}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>ITEM_15_1/1/image0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{75,75}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>ITEM_15_1/1/image0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{79,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{79,79}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>ITEM_15_1/1/image0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{83,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{83,83}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>ITEM_15_1/1/image0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>ITEM_15_1/1/image0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{1,1}}</string>
                <key>offset</key>
                <string>{-43,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ITEM_15_1.pvr.ccz</string>
            <key>size</key>
            <string>{126,604}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d05674df1217a36150a3bff75a24c90:578bc2611c4419dd89bdec2ff17e9f7d:beab0ac0d0e4bb8d694ca40d8fd1541a$</string>
            <key>textureFileName</key>
            <string>ITEM_15_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
