<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ITEM_12_1/0/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>ITEM_12_1/1/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,121},{56,58}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,36},{56,58}}</string>
                <key>sourceSize</key>
                <string>{132,136}</string>
            </dict>
            <key>ITEM_12_1/1/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,63},{56,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,36},{56,62}}</string>
                <key>sourceSize</key>
                <string>{132,136}</string>
            </dict>
            <key>ITEM_12_1/1/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,182},{62,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{62,66}}</string>
                <key>sourceSize</key>
                <string>{132,136}</string>
            </dict>
            <key>ITEM_12_1/1/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,182},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,32},{68,72}}</string>
                <key>sourceSize</key>
                <string>{132,136}</string>
            </dict>
            <key>ITEM_12_1/1/image0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{74,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,28},{74,80}}</string>
                <key>sourceSize</key>
                <string>{132,136}</string>
            </dict>
            <key>ITEM_12_1/1/image0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,96},{80,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{80,84}}</string>
                <key>sourceSize</key>
                <string>{132,136}</string>
            </dict>
            <key>ITEM_12_1/1/image0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{86,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,22},{86,92}}</string>
                <key>sourceSize</key>
                <string>{132,136}</string>
            </dict>
            <key>ITEM_12_1/1/image0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,138},{106,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{106,110}}</string>
                <key>sourceSize</key>
                <string>{132,136}</string>
            </dict>
            <key>ITEM_12_1/1/image0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{112,116}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{112,116}}</string>
                <key>sourceSize</key>
                <string>{132,136}</string>
            </dict>
            <key>ITEM_12_1/1/image0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,132},{118,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{118,122}}</string>
                <key>sourceSize</key>
                <string>{132,136}</string>
            </dict>
            <key>ITEM_12_1/1/image0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{124,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{124,128}}</string>
                <key>sourceSize</key>
                <string>{132,136}</string>
            </dict>
            <key>ITEM_12_1/1/image0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,134}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{130,134}}</string>
                <key>sourceSize</key>
                <string>{132,136}</string>
            </dict>
            <key>ITEM_12_1/1/image0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,250},{1,1}}</string>
                <key>offset</key>
                <string>{-65.5,67.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{132,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ITEM_12_1.pvr.ccz</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58b40f7f8aeb356cdfe8feca614b17fc:7922f7f2c2f8956cce489d0fd82b5027:1b25d5c4d83b5b7b208fec7c27f06f34$</string>
            <key>textureFileName</key>
            <string>ITEM_12_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
