<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ITEM_4_1/0/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,126},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>ITEM_4_1/0/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>ITEM_4_1/0/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>ITEM_4_1/0/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>ITEM_4_1/0/image0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,148},{59,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>ITEM_4_1/0/image0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,124},{59,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>ITEM_4_1/0/image0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,124},{59,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{59,57}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>ITEM_4_1/0/image0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,63},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>ITEM_4_1/0/image0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,124},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>ITEM_4_1/0/image0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,63},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>ITEM_4_1/0/image0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,63},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>ITEM_4_1/1/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,86},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,196}</string>
            </dict>
            <key>ITEM_4_1/1/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,196}</string>
            </dict>
            <key>ITEM_4_1/1/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,64},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,68},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,196}</string>
            </dict>
            <key>ITEM_4_1/1/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{59,76}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{59,76}}</string>
                <key>sourceSize</key>
                <string>{59,196}</string>
            </dict>
            <key>ITEM_4_1/1/image0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{59,82}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,46},{59,82}}</string>
                <key>sourceSize</key>
                <string>{59,196}</string>
            </dict>
            <key>ITEM_4_1/1/image0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,110},{59,90}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{59,90}}</string>
                <key>sourceSize</key>
                <string>{59,196}</string>
            </dict>
            <key>ITEM_4_1/1/image0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,116},{59,88}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{59,88}}</string>
                <key>sourceSize</key>
                <string>{59,196}</string>
            </dict>
            <key>ITEM_4_1/1/image0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{59,106}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{59,106}}</string>
                <key>sourceSize</key>
                <string>{59,196}</string>
            </dict>
            <key>ITEM_4_1/1/image0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{59,112}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{59,112}}</string>
                <key>sourceSize</key>
                <string>{59,196}</string>
            </dict>
            <key>ITEM_4_1/1/image0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,120}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{59,120}}</string>
                <key>sourceSize</key>
                <string>{59,196}</string>
            </dict>
            <key>ITEM_4_1/1/image0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{1,1}}</string>
                <key>offset</key>
                <string>{-29,97.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{59,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ITEM_4_1.pvr.ccz</string>
            <key>size</key>
            <string>{490,207}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fccd9a5db1b87049cd409567be107458:4e797b919f6dd6c044ddaa97a18a3a76:225270aa5bf68ce80e703e7f7860f4da$</string>
            <key>textureFileName</key>
            <string>ITEM_4_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
