<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ITEM_5_1/0/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{62,19}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{62,19}}</string>
                <key>sourceSize</key>
                <string>{70,21}</string>
            </dict>
            <key>ITEM_5_1/0/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{64,19}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{64,19}}</string>
                <key>sourceSize</key>
                <string>{70,21}</string>
            </dict>
            <key>ITEM_5_1/0/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{66,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{66,19}}</string>
                <key>sourceSize</key>
                <string>{70,21}</string>
            </dict>
            <key>ITEM_5_1/0/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{68,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,19}}</string>
                <key>sourceSize</key>
                <string>{70,21}</string>
            </dict>
            <key>ITEM_5_1/0/image0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,19}}</string>
                <key>sourceSize</key>
                <string>{70,21}</string>
            </dict>
            <key>ITEM_5_1/0/image0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{68,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,19}}</string>
                <key>sourceSize</key>
                <string>{70,21}</string>
            </dict>
            <key>ITEM_5_1/0/image0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{66,19}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{66,19}}</string>
                <key>sourceSize</key>
                <string>{70,21}</string>
            </dict>
            <key>ITEM_5_1/0/image0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{64,19}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{64,19}}</string>
                <key>sourceSize</key>
                <string>{70,21}</string>
            </dict>
            <key>ITEM_5_1/0/image0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{62,19}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{62,19}}</string>
                <key>sourceSize</key>
                <string>{70,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ITEM_5_1.pvr.ccz</string>
            <key>size</key>
            <string>{342,23}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0fbd37b0ce7d707867e51f5c4b77def:41952e257955c4e51423ffd1c74ff163:2d118c8d509782f89a6428ddada318bf$</string>
            <key>textureFileName</key>
            <string>ITEM_5_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
