<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ITEM_21_1/0/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ITEM_21_1/0/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ITEM_21_1/0/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ITEM_21_1/0/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ITEM_21_1/0/image0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ITEM_21_1/0/image0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,126},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ITEM_21_1/0/image0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ITEM_21_1/0/image0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ITEM_21_1/0/image0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,126},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ITEM_21_1/0/image0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ITEM_21_1/0/image0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ITEM_21_1/0/image0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,126},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ITEM_21_1/0/image0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ITEM_21_1/0/image0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ITEM_21_1/0/image0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,126},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ITEM_21_1/0/image0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ITEM_21_1/0/image0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ITEM_21_1/1/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,126},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ITEM_21_1/1/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ITEM_21_1/1/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ITEM_21_1/1/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,126},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ITEM_21_1/1/image0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ITEM_21_1/1/image0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ITEM_21_1/1/image0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,126},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ITEM_21_1/1/image0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ITEM_21_1/1/image0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ITEM_21_1/1/image0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,126},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ITEM_21_1/1/image0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ITEM_21_1/1/image0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ITEM_21_1/1/image0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ITEM_21_1/1/image0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,126},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ITEM_21_1/1/image0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ITEM_21_1/1/image0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,126},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{60,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ITEM_21_1.pvr.ccz</string>
            <key>size</key>
            <string>{686,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92e19d43178dc265c04771eacc9c3d15:891a6bfa809810fd0176eb04621f21b1:e43e987747f83645b22b35acc4284289$</string>
            <key>textureFileName</key>
            <string>ITEM_21_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
