<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ITEM_11_1/0/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>ITEM_11_1/1/image0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{51,53}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{51,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>ITEM_11_1/1/image0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,57},{51,51}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{51,51}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>ITEM_11_1/1/image0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{53,53}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>ITEM_11_1/1/image0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,67},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{57,57}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>ITEM_11_1/1/image0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{63,63}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>ITEM_11_1/1/image0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,57},{1,1}}</string>
                <key>offset</key>
                <string>{-33,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ITEM_11_1.pvr.ccz</string>
            <key>size</key>
            <string>{176,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f871ea6f481bbf1fd06b602556220ed9:a976bae2aed132af81a8f9b4c4145770:7c728e119767b773f51dfaf7a54b55d5$</string>
            <key>textureFileName</key>
            <string>ITEM_11_1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
